/* ----------------External Font------------------------------------------------*/
@font-face {
    font-family: 'heeboblack';
    src: url('fonts/heebo-black-webfont.eot');
    src: url('fonts/heebo-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/heebo-black-webfont.woff2') format('woff2'),
         url('fonts/heebo-black-webfont.woff') format('woff'),
         url('fonts/heebo-black-webfont.ttf') format('truetype'),
         url('fonts/heebo-black-webfont.svg#heeboblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'heebobold';
    src: url('fonts/heebo-bold-webfont.eot');
    src: url('fonts/heebo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/heebo-bold-webfont.woff2') format('woff2'),
         url('fonts/heebo-bold-webfont.woff') format('woff'),
         url('fonts/heebo-bold-webfont.ttf') format('truetype'),
         url('fonts/heebo-bold-webfont.svg#heebobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'heeboextrabold';
    src: url('fonts/heebo-extrabold-webfont.eot');
    src: url('fonts/heebo-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/heebo-extrabold-webfont.woff2') format('woff2'),
         url('fonts/heebo-extrabold-webfont.woff') format('woff'),
         url('fonts/heebo-extrabold-webfont.ttf') format('truetype'),
         url('fonts/heebo-extrabold-webfont.svg#heeboextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'heebolight';
    src: url('fonts/heebo-light-webfont.eot');
    src: url('fonts/heebo-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/heebo-light-webfont.woff2') format('woff2'),
         url('fonts/heebo-light-webfont.woff') format('woff'),
         url('fonts/heebo-light-webfont.ttf') format('truetype'),
         url('fonts/heebo-light-webfont.svg#heebolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'heebomedium';
    src: url('fonts/heebo-medium-webfont.eot');
    src: url('fonts/heebo-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/heebo-medium-webfont.woff2') format('woff2'),
         url('fonts/heebo-medium-webfont.woff') format('woff'),
         url('fonts/heebo-medium-webfont.ttf') format('truetype'),
         url('fonts/heebo-medium-webfont.svg#heebomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'heeboregular';
    src: url('fonts/heebo-regular-webfont.eot');
    src: url('fonts/heebo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/heebo-regular-webfont.woff2') format('woff2'),
         url('fonts/heebo-regular-webfont.woff') format('woff'),
         url('fonts/heebo-regular-webfont.ttf') format('truetype'),
         url('fonts/heebo-regular-webfont.svg#heeboregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Webkit */
:-webkit-input-placeholder { color: #c6cbd0; }

/* Firefox 4-18 */
:-moz-placeholder { color: #c6cbd0; }

/* Firefox 19+ */
:-moz-placeholder { color: #c6cbd0; }

/* IE10+ */
:-ms-input-placeholder {color: #c6cbd0!important;}

/*html {width: 100%;}*/
.clr {clear: both;}
body{width: 100%;font-family: 'heebomedium', sans-serif; font-size: 14px; -webkit-font-smoothing: antialiased; letter-spacing: 0.4px;}
img{max-width: 100%; height: auto;}
h5, h6 , h1 , h2 , h3 , h4 {font-weight: normal;font-family: 'heebomedium', sans-serif; }
select::-ms-expand{display:none;}
select{ -webkit-appearance:none;}
dl, dt, dd, ol, ul, li {margin: 0;padding: 0;  list-style-type: none;}
a:active , select , select:focus , a:focus , a:hover , input:focus , button:focus , textarea:focus {outline: none !important; text-decoration: none; color: #fff;}
a , button{text-decoration: none;-webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s;transition: all 0.5s ease 0s; cursor: pointer;}
option{padding: 10px;}
textarea {resize: none;}
.red {color: red;}
.p-0{padding: 0 !important;}
.dis-table{display: table;width: 100%;float: none;margin: 0 auto;}
.dis-table-cell{display: table-cell;vertical-align: middle;float: none}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7c848b;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #7c848b;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #7c848b;
}
:-moz-placeholder { /* Firefox 18- */
  color: #7c848b;
}

/*****************************HOME PAGE CSS START HERE*****************************/

/*logo-menu css*/
.logo-block{float: left}
.header{padding: 15px 30px; position: fixed; z-index: 99;width: 100%;background-color: rgba(255, 255, 255, 1);box-shadow: 0 0 15px rgba(0,0,0,0.10);}
.header.sticky{background-color: #ffffff;}
.blank-div{height: 74px;}
.icon-btn, .banner-img-block{display: none;}
.sidenav {position: relative; z-index:99999; transition: 0.5s; float: right; padding: 13px 0;}
.sidenav .closebtn {position: absolute; top: 0px; left: 8px; font-size: 30px; display: none;}
#main {transition: margin-left .5s;}
.header .menu-icon{font-size:22px;cursor:pointer;display: none;float: right; position: relative; top: 3px; color: #393d46;}
.overlay{overflow: hidden;z-index: 99999;background:rgba(0,0,0,0.6);position: fixed;width: 100%;height: 100%;}
.min-menu li {display:inline-block;position: relative; margin-left: 65px;}
.min-menu li a {font-size: 16px; text-decoration: none; color: #393d46; display:block; transition: 0.3s;}
.min-menu li a:hover, .min-menu li a.active{color: #1b8bdf;}
/*logo menu css end here*/
/*language section block*/
.language-section{float: right;padding: 13px 0 13px 60px;}
.language-section li{display: inline-block;vertical-align: middle;}
.language-section li a{font-size: 14px;color: #393d46;font-family: 'heebolight';}
.language-section li a.active{color: #1b8bdf;}
/*language section block end*/
/*back to top btn css start here*/
.cd-top.cd-is-visible {opacity: 1; visibility: visible;}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {transition: opacity 0.3s ease 0s, visibility 0s ease 0s;}
.cd-top {bottom: 40px;height: 36px;opacity: 0;position: fixed;right: 30px;transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s;visibility: hidden;white-space: nowrap;width: 36px;z-index: 99;background-color: #1b8bdf;border-radius: 50%;color: #fff;text-align: center;font-size: 22px;padding: 3px 0;box-shadow: 0 2px 5px rgba(0,0,0,0.4);}
/*back to top btn css end here*/

/*home page banner section start here*/
.home-banner-serction{height: 660px;display: table;width: 100%;position: relative;background-size: cover;}
.home-banner-serction:before{position: absolute;top: 0;right: 0;bottom: 0;left: 0;background: rgba(2,19,32,0.2);content: "";}
.banner-content-section{display: table-cell;vertical-align: middle;position: relative;}
.banner-content-head{font-size: 74px;color: #fff;font-family: 'heeboextrabold';letter-spacing: -0.4px;line-height: 80px;}
.banner-content-semi-head{font-size: 30px;color: #fff;margin-bottom: 51px;}
.get-start-btn{background: #0f6bb0;border: 1px solid #0f6bb0;border-radius: 3px;text-align: center;font-size: 16px;padding: 10px 30px;color: #fff;box-shadow: 0 1px 2px rgba(0,0,0,0.5); display: inline-block;}
/*home page banner section end here*/

/*home page welcome to section start here*/
.welcome-to-section-main{box-shadow: 0 0 20px rgba(0,0,0,0.07);max-width: 1540px;width: 100%;margin: 0 auto;}
.welcome-content-txt{padding: 65px;}
.welcome-to-head-section{font-size: 20px;color: #1b8bdf;margin-bottom:15px;}
.learning-app-section{color: #393d46;font-size: 54px;font-family: 'heeboextrabold';letter-spacing: -0.4px;line-height: 60px;}
.merit-learning-app-contnet{font-family: 'heebolight';font-size: 16px;color: #393d46;line-height: 26px;margin-bottom: 50px;}
.merit-learning-app-contnet p{margin-top: 20px;}
.learning-app-section-img{float: right;}
.swap-right {float: right;}
/*home page welcome to section end here*/

/*home page why choose section start here*/
.why-choose-merit-main{background: #f7f8fa;padding: 60px 0;text-align: center;}
.why-choose-metit-head{font-size: 54px;color: #393d46;font-family: 'heeboextrabold';}
.why-choose-merit-description{font-size: 16px;color: #393d46;font-family: 'heebolight';margin: 5px 0 60px;}
.why-choose-plan-section{width: 100%;height: 220px;box-shadow: 0 2px 3px rgba(0,0,0,0.10);display: table;background: #ffffff;margin-bottom: 30px;}
.why-choose-plan-txt{display: table-cell;vertical-align: middle;}
.why-choose-plan-img{background-image: url(../../images/small-images.png);background-repeat: no-repeat;background-position: 0 0;max-width: 101px;height: 60px;margin: 0 auto}
.why-choose-plan-name{font-size: 18px;color: #393d46;text-transform: uppercase;margin-top: 20px;}
.why-choose-plan-img.englis-login-img{background-position: -115px 0;width: 42px;}
.why-choose-plan-img.american-phonics-img{background-position: -171px 0;width: 75px;}
.why-choose-plan-img.diverse-culture{background-position: 0px -79px;width: 49px;}
.why-choose-plan-img.eng-maths-img{background-position: -68px -79px;width: 60px;}
.why-choose-plan-img.positive-incentive{background-position: -145px -80px;width: 55px;height: 61px;margin-top: -1px;}
/*home page why choose section end here*/

/*get started today section start here*/
.get-started-section-main{background-image: url(../../images/counting-section-bg-img.jpg);background-repeat: no-repeat;background-position: center center;background-attachment: fixed;height: 650px;position: relative;padding: 70px 0;background-size: cover;}
.get-started-section-main:before{content: "";position: absolute;top: 0;right: 0;bottom: 0;left: 0;background: rgba(0,0,0,0.5);}
.counting-section-main-block{height: 234px;display: table;width: 100%;background: rgba(255,255,255,0.2);text-align: center;color: #ffffff;margin-bottom: 30px;}
.countting-section{display: table-cell;vertical-align: middle;}
.counting-section-img{background-image: url(../../images/small-images.png);background-repeat: no-repeat;background-position: -254px -3px;width: 76px;height: 70px;margin: 0 auto;}
.counting-section-count{font-size: 44px;font-family: 'heeboextrabold';text-shadow: 0 1px 3px rgba(0,0,0,0.5);}
.counting-seciton-name{font-size: 18px;font-family: 'heeboregular';}
.counting-section-img.counting-parents-img{background-position: -344px -2px;}
.counting-section-img.counting-class-rooms-img{background-position: -279px -84px; width: 70px;}
.counting-section-img.counting-students-img{background-position: -206px -85px;;width: 56px;}
.get-started-heading{font-size: 64px;color: #fff;font-family: 'heeboextrabold';line-height: normal;text-align: center}
.get-started-description{text-align: center;font-size: 16px;color: #fff;font-family: 'heeboregular';margin: 0 0 40px;}
.get-started-section-main .btn-get-start-section{text-align: center;}
/*get started today section end here*/

/*real world learning page start here*/
.real-world-learning-main{background-image: url(../../images/real-world-learning-bg-img.png);background-repeat: no-repeat;background-position: center top;padding: 85px 0;background-size: cover;}
.real-world-content-section{width: 49.8%;vertical-align: middle;display: inline-block;position: relative;}
.real-world-content{max-width: 580px;width: 100%;float: right;padding-left: 15px;}
.learning-app {padding: 70px 0;}

/*phone section start*/
.phone-bg{background-image: url(../../images/phone-bg.jpg);background-repeat: no-repeat;background-size: cover;position: relative;}
.phone-bg::before {content: "";width: 100%;height: 100%;position: absolute;top: 0;left: 0;background-color:rgba(8,44,61,0.6);}
.phone-wrapper {position: relative;}
.phone-block{display: table-cell;vertical-align: bottom;width: 50%;padding-right: 30px;}
.download-block{display: table-cell;vertical-align: middle;padding: 85px 0;color: #fff;}
.download-block h5 {font-size: 20px;font-family: 'heeboregular',sans-serif;margin: 0;}
.download-block h2 {font-size: 54px;font-family: 'heebobold',sans-serif;margin: 20px 0 10px;}
.download-block p {font-size: 16px;font-family: 'heeboregular',sans-serif;margin: 0 0 40px;}
.download-btns a{width: 180px;height: 50px;}
.download-btns .blue-btn {display: inline-block;background-color: #1b8bdf;border: 2px solid #1b8bdf;border-radius: 3px;color: #fff;margin-right: 20px;text-align: center;padding: 4px 20px;}
.download-btns i {font-size: 28px;float: left;margin: 5px 0 0;}
.apple-store {margin-left: 30px;text-align: left;font-size: 18px;font-family: 'heeboextrabold',sans-serif;line-height: 17px;}
.apple-store span {text-transform: uppercase;font-size: 11px;white-space: nowrap;display: block;font-family: 'heeboregular',sans-serif;}
.download-btns .blue-btn:hover{background-color: transparent;border: 2px solid #fff;transition: 0.3s;}
.download-btns .trans-btn{display: inline-block;background-color: transparent;border: 2px solid #fff;border-radius: 3px;color: #fff;text-align: center;padding: 4px 20px;}
.download-btns .trans-btn:hover{background-color: #1b8bdf;border: 2px solid #1b8bdf;transition: 0.3s;}
/*phone section end*/

/*gallery section start*/
.gallery-wrapper {background-color: #f7f8fa;text-align: center;padding: 70px 0;}
.gallery-wrapper h2 {font-size: 54px;color: #393d46;margin: 0 0 50px;font-family: 'heeboextrabold',sans-serif;}
.gallery-block {position: relative;display: block;margin: 0 0 30px;border-radius: 3px;overflow: hidden;}
.hover-block {position: absolute;top: 0;left: 0;width: 100%;height: 100%;display: block;background-color: rgba(2,21,35,0.6);opacity: 0;transition: 0.3s;}
.hover-block::before {content: ""; position: absolute;background-color: #fff;width: 70px;height: 3px;top: 0;left: 0;right: 0;bottom: 0;margin: auto;}
.hover-block::after {content: "";position: absolute;background-color: #fff;width: 3px;height: 70px;top: 0;left: 0;bottom: 0;right: 0;margin: auto;}
.gallery-block:hover .hover-block{opacity: 1;transition: 0.3s;}
.view-gallery {display: block;width: 245px;height: 50px;background-color: #e6edf5;border-radius: 30px;text-align: center;
margin: 0 auto;color: #1b8bdf;font-size: 16px;font-family: 'heebomedium',sans-serif;padding: 15px 0;}
.view-gallery:hover{transition: 0.3s;background-color: #1b8bdf;color: #fff;}
.banner-img-block::before {content: "";position: absolute;left: 0;top: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,0.7);z-index: 1;}
/*gallery section end*/

/*footer css start here*/
.footer-section{padding: 20px 0;background: #f2f2f2;}
.footer-logo-section{float: left}
.menu_name.points-footer{float: right;}
.menu_name.points-footer li a{font-size: 16px; color: #686868; display: inline-block; padding: 10px 0;font-family: 'heeboregular';}
.menu_name.points-footer li a:hover{color: #383838;}
.menu_name.points-footer li{display: inline-block;margin-right: 51px;}
.menu_name.points-footer li:last-child{margin: 0;}
.social-copy-main{border-top: 1px solid #e4e4e4;padding: 20px 0 0;margin-top: 20px;}
.social-block{float: left}
.social-block li{display: inline-block;margin-right: 15px;}
.social-block li a{color: #818794;display: block;font-size: 20px;}
.social-block li a:hover{color: #ffffff}
.social-block li a.fb-block{color: #3b5998}
.social-block li a.twitt-block{color: #55acee}
.social-block li a.insta-block{color: #dc4e41}

.down-arrow{display: none;}
.copyright-txt{font-family: 'heeboregular'; color: #686868;font-size: 14px;margin-top: 6px;float: right;}
/*footer css end here*/

/*tamplate 1 page start here*/
.blank-div-section{height: 80px;}
.middle-section{padding: 40px 0;}
.question-txt-section{padding-top: 6px;float: left;}
.question-section{font-family: 'heeboregular';color: #393d46;font-size: 22px;margin-bottom: 20px;}
.question-section i{color: #0f6bb0;}
.question-count{float: right;border: 1px solid #e8e8e8;border-radius: 5px;height: 41px;max-width: 185px;width: 100%;text-align: center;font-size: 18px;color: #3e4348;font-family: 'heebomedium';padding-top: 6px;}
.question-count span{color: #0f6bb0;}
.game-img-section{border-radius: 20px;box-shadow: 0 0 15px rgba(0 ,0 ,0,0.10);}
.game-img-section img{border-radius: 10px;width: 100%;}
.game-fill-text-section{border-radius: 20px;box-shadow: 0 0 15px rgba(0 ,0 ,0,0.10);display: table;width: 100%;position: relative;}
.fill-txt-section{display: table-cell;vertical-align: middle;max-width: 325px;width: 100%;text-align: center;}
.alphabate-input input{background: transparent;border: none;font-size: 48px;font-family: 'heeboblack';text-transform: uppercase;line-height: 50px;color: #66a6f3;width: 100%;border-bottom: 2px dashed #393d46;margin: 0 10px;}
.alphabate-input{position: relative;margin: 0 auto;}
.border-section{float: left;padding: 0 7px;width: 12.5% !important}
.alphabate-input span{display: block;border-bottom: 2px dashed #393d46;height: 3px;left: 0;bottom: 0;float: left;width: 100%;}
.video-play-btn {width: 100px;height: 100px; border-radius: 50%;background-color: rgba(27,139,223,0.9);margin: 5px auto;background-image: url(../../images/small-images.png);background-repeat: no-repeat;background-position: -356px -76px;}
.play-btn-block{display: block;width: 110px;background-color: rgba(27,139,223,0.2);height: 110px; position: absolute;top: 0;  border-radius: 50%;bottom: 0;right: 30%;margin: auto;}
.video-modal video {max-width: 100%;width: 100%;}
.video-modal .modal-dialog {margin: 60px auto;}
.video-modal.modal {padding-right: 0 !important;}
.modal-backdrop.in{opacity: .85;}
.video-modal .modal-body {padding: 0;margin-bottom: -6px;}
.modal-close {position: absolute;right: 10px;top: 6px;width: 30px;height: 30px;opacity: 0.6;z-index: 9;background: transparent;border: none;padding: 0;}
.modal-close:hover {opacity: 1;}
.modal-close:before, .modal-close:after {position: absolute;left: 15px;content: ' ';height:25px;width: 2px;background-color: #333;}
.modal-close:before {transform: rotate(45deg);}
.modal-close:after {transform: rotate(-45deg);}
.real-world-content-section img {float: right;}
.specker-mic-section{margin-top: 40px;float: left;}
.specker-mic-section button{background: none;border: none;}
.arrow-next-section-block{position: absolute;top: 0;bottom: 0;width: 45px;right: -72px;}
.arrow-next-section-block .arrow-next-img{position: absolute;margin: auto auto;top: 50%;margin-top: -30px;opacity: 0.6}
.arrow-next-section-block .arrow-next-img:hover{opacity: 1}
/*tamplate 1 page end here*/

/*buttons css start*/
.sim-button {color: rgba(255,255,255,1);-webkit-transition: all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s;
transition: all 0.5s;position: relative;overflow: hidden;display: inline-block;}
.sim-button.resp-btn{display: none;}
.sim-button a{color: rgba(51,51,51,1);text-decoration: none;display: block;}
.sim-button::before{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 1;
-webkit-transition: all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;opacity: 1;
-webkit-transform: translate(-105%,0);transform: translate(-105%,0);border-right-width: 1px;border-right-style: solid;
border-right-color: rgba(255,255,255,1);background-color: rgba(255,255,255,0.25);}
.sim-button:hover::before{opacity: 0;-webkit-transform: translate(0,0);transform: translate(0,0);	}
/*buttons css end*/


/*login page section start here*/
.gray-btn-main-section{padding: 100px 0;min-height: 600px;}
.signup-block-wrapper {max-width: 512px;width: 100%;position: relative;margin: auto;text-align: center;}
.alert{text-align: left;font-family: 'heebolight';}
.signup-block {box-shadow: 0 0 15px rgba(0,0,0,0.10);padding: 60px 30px 30px;border-radius: 5px;}
.signup-block h2 {color: #393d46;font-size: 40px;margin: 0;font-family: 'heebobold';letter-spacing: 0;line-height: 26px;}
.signup-block h5 {color: #393d46;font-size: 16px;font-family: 'heebolight';line-height: 26px;margin-bottom: 25px;}
.form-group {position: relative;margin-bottom: 25px;}
.form-group label{font-size: 15px;color: #393d46;font-family: 'heebolight';text-align: left;font-weight: normal;display: block;}
.form-group input {border: 1px solid #e0e0e0;display: block;font-size: 15px;height: 40px;padding: 0 10px;width: 100%;border-radius: 5px;color: #393d46;box-shadow: none;background-color: transparent;font-family: 'heebolight';}
.terms-block {margin-top: 10px;}
.terms-block .check-block {display: inline-block;}
.terms-block .forget-pwd {display: inline-block;float: right;margin: 3px 0 0;color: #2d3e50;font-family: 'heebolight',sans-serif;text-decoration: underline;    }
.full-orng-btn {background-color: #0f6bb0;color: #fff;height: 40px;width: 100%;border: 1px solid #0f6bb0;border-radius: 3px;margin: 25px 0;font-size: 16px;font-family: 'heebomedium',sans-serif;}
.join-block p {color: #2d3e50;font-size: 14px;font-family: 'heebolight';margin: 0 0 15px;}
.join-block li {display: inline-block;margin: 0 5px;vertical-align: middle;}
.join-block li a {height: 51px;width: 51px;background-color: #51c332;border-radius: 50%;display: block;padding: 10px 0;box-shadow: 0px 1px 5px rgba(0,0,0,0.34);color: #ffffff;font-size: 20px;}
.join-block li a.fb-section{background-color: #3b5998;padding-top: 13px;}
.join-block li a.google-section{background-color: #dc4e41;padding-top: 13px;}
.join-block li a.twitter-section{background-color: #55acee;padding-top: 13px;}
.join-block h5{color: #2d3e50;font-size: 14px;font-family: 'heebolight';margin: 30px 0 0}
.join-block h5 a{color: #0f6bb0;}
.join-block h5 a:hover{color: #2d3e50;}


/*Radio Buttons start*/
.radio-btns{margin-bottom: 10px;}
.radio-btns .radio-btn{display: inline-block;position: relative;}
.radio-btns .radio-btn input[type=radio]{position: absolute;visibility: hidden;}
.radio-btns .radio-btn label{font-family: 'heebolight';font-weight: normal;color: #393d46;display: block;position: relative;font-size: 18px;padding: 0px 25px 0px 27px;margin: 10px auto;z-index: 9;cursor: pointer;-webkit-transition: all 0.25s linear;}
.radio-btns .radio-btn:last-child label{padding-right: 0;}
.radio-btns .radio-btn .check{display: block;position: absolute;border: 1px solid #bdc2c8;border-radius: 100%;height: 18px;width: 18px;top: 13px;left: 0px;z-index: 5;transition: border .25s linear;-webkit-transition: border .25s linear;}
.radio-btns .radio-btn .check::before {border-radius: 100%;content: "";display: block;height: 8px;left: 4px;margin: auto;position: absolute;top: 4px;transition: background 0.25s linear 0s;width: 8px;}
.radio-btns input[type=radio]:checked ~ .check {border: 1px solid #0f6bb0;}
.radio-btns input[type=radio]:checked ~ .check::before{background: #0f6bb0;}
/*Radio Buttons start*/

/*  checkbox css start*/
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {position: absolute;left: -9999px;visibility: hidden; }
[type="checkbox"] + label {position: relative;padding-left: 30px;cursor: pointer;display: inline-block;height: 25px;line-height: 25px;-webkit-user-select: none;-moz-user-select: none;-khtml-user-select: none;-ms-user-select: none;display: inline-block;color: #2d3e50;font-size: 14px;font-family: 'heebolight',sans-serif;margin: 0;font-weight: normal;}
[type="checkbox"].filled-in + label:after {border-radius: 0px; }[type="checkbox"].filled-in + label:before,
[type="checkbox"].filled-in + label:after {content: '';left: 0;position: absolute;z-index: 1; }
[type="checkbox"].filled-in:not(:checked) + label:before {width: 0;height: 0;border: 3px solid transparent;left: 6px;top: 10px;-webkit-transform: rotateZ(37deg);transform: rotateZ(37deg);-webkit-transform-origin: 20% 40%;transform-origin: 100% 100%; }
[type="checkbox"].filled-in:not(:checked) + label:after {height: 18px;width: 18px;background-color: transparent;border: 1px solid #0f6bb0;top: 4px;z-index: 0;border-radius: 2px;}
[type="checkbox"].filled-in:checked + label:before {top: 9px;left: 5px;width: 8px;height: 8px;
-webkit-transform-origin: 100% 100%;transform-origin: 100% 100%;background-color: #0f6bb0;border-radius: 30%;}
[type="checkbox"].filled-in:checked + label:after {top: 4px;width: 18px;height: 18px;border: 1px solid #0f6bb0;z-index: 0;
border-radius: 2px;}
/*  checkbox css end*/

/*sighup page start here*/
.terms-block .check-block a{color: #0f6bb0;font-family: 'heebolight';}
.join-block.already-registered-section h5{margin-top: 10px;}


@media all and (max-width:1300px){
/*header start*/
.min-menu li{margin-left: 35px;}    
/*header end*/
.learning-app-section{font-size: 40px;}    
}
@media all and (max-width:1199px){
/*header start*/    
.language-section {padding: 13px 0 13px 20px;}
.min-menu li {margin-left: 25px;}    
/*header end*/
/*footer start*/
.menu_name.points-footer li{margin-right: 30px}    
/*footer end*/
/*home page  start   */
.swap-right, .learning-app-section-img {float: none;}  
.welcome-content-txt {padding: 40px;text-align: center;}  
.learning-app-section-img img {
    margin: 0 auto;
}    
/*home page  end   */
}

@media all and (max-width:991px){
.blank-div-section{height: 57px;}
/*Top Menu css start here*/
.header{padding: 10px 15px;}
.blank-div{height: 51px;}
.main-logo{margin-top: 0px;max-width: 180px;}
.sidenav {height: 100%; width: 0; position: fixed; top: 0; left: 0; background-color: #111; overflow-x: hidden; transition: 0.5s; min-width: auto; padding: 0;}
.sidenav .closebtn{display: block; z-index: 11; color: #ffffff;}	
.img-responsive-logo{background-color: rgba(43, 43, 43, 0.52); width: 100%; position: absolute; height: 100%;top: 0px;}
.banner-img-block{height: 150px; width: 100%; background-size: cover; margin-bottom: 2px; text-align: center; padding-top: 49px;display: block; position: relative;background-image:url(../../images/gallery-img1.jpg); background-position: center center; background-repeat: no-repeat; height: 150px; width: 100%;  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }    
.banner-img-block img{margin-top: 15px; z-index: 1; position: relative;max-width: 200px;}
.header .menu-icon{display: block;}	
.min-menu li{display: block; border-bottom: 1px solid #1D1D1D; margin-left: 0;}	
.min-menu li a{color: #ffffff; padding: 11px 10px;font-family: 'heeboregular';font-size: 14px;}
.min-menu li a:hover{color: #1b8bdf;}	
.min-menu li:last-child{border-bottom: none;margin-left: 0;}
.sidenav ul.min-menu li.btn-become a:hover{border: 0px;background-color: transparent;}
    .language-section{padding: 8px 15px 0 0;}
/*Top Menu css End here*/
/*home page start*/
.home-banner-serction {height: 420px;}  
.banner-content-head {font-size: 50px;line-height: normal;}   

.get-started-section-main{height: auto;}    
.dis-table-cell {display: block;}
.real-world-content-section {width: 100%;vertical-align: middle;display: block;}
.real-world-content {max-width: 100%;width: 100%;float: none;padding: 0 15px;text-align: center;}
.real-world-content-section img {max-width: 500px;width: 100%;margin: 0 auto;display: block;}
.download-block{padding: 40px 0;}  
.download-block h2 {font-size: 26px;}
.download-block p {font-size: 14px;}
.phone-block{width: 40%;}  
/*home page end*/
    
/*buttons css start*/
.sim-button.resp-btn{display: inline-block;}
/*buttons css end*/
    
/*login page start here*/
.gray-btn-main-section{padding: 30px 0;}
/*login page end here*/
    
/*footer start  */
.footer-logo-section {float: none;display: block;margin: 0 0 30px;}
.footer-logo-section img {margin: 0 auto;display: block;}    
.menu_name.points-footer {float: none;text-align: center;}    
/*footer end */
}

@media all and (max-width:767px){    
/* header start */
    .main-logo{max-width: 170px;}
.language-section {padding: 8px 10px 0px 0px;}
.min-menu .language-section li {display: inline-block;border: none;}      
.language-section span{display: none}    
/* header end */
/*home page start*/
.banner-content-head{font-size: 35px;}    
.why-choose-metit-head,.gallery-wrapper h2,.get-started-heading{font-size: 28px;}
.banner-content-semi-head {font-size: 18px;}    
.welcome-content-txt {padding: 20px;}
.learning-app-section{font-size: 25px;line-height: normal;}   
.get-start-btn{padding: 10px 10px;}
.merit-learning-app-contnet,.gallery-wrapper h2{margin-bottom: 20px;}
.why-choose-merit-main{padding: 20px 0 0;}   
.phone-block{display: none;}    
.gallery-block{overflow: hidden;height: 155px;background-color: #eee;}    
.gallery-wrapper,.real-world-learning-main,.get-started-section-main,.learning-app{padding: 30px 0;}   
.why-choose-plan-name{font-size: 14px;}   
.download-btns .blue-btn, .download-btns .trans-btn{margin: 0 5px 10px;}    
/*home page end*/ 
    
    /*login page start here*/
    .signup-block{padding: 30px 15px;}
    .gray-btn-main-section{padding: 30px 0;}
    
/*footer start  */
.copyright-txt,.social-block,.download-block {float: none;text-align: center;}    
/*footer end */    
}